@charset "UTF-8";

.carousel-control-prev, .carousel-control-next {
	display: block;
	top: 64%;
	transform: translateY(-50%);
}

.carousel-control-prev {
	left: 0;
}

.carousel-control-next {
	right: 0;
}

.custom-btn {
	border: 2px solid black;
	background-color: rgba(192, 192, 192, 0.5);
	color: black;
	transition: background-color 0.3s ease;
	margin-top: 45px;
	font-size: 15px;
	font-weight: bold;
}

.custom-btn:hover {
	background-color: black;
	color: white;
}

.pricing-header h1 {
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
	font-weight: bold;
}

.carousel-item img {
	opacity: 0.7;
}

.carousel-caption h2, .carousel-caption p {
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
}