@charset "UTF-8";

.pw-modal-content {
    position: fixed; /* 고정 위치 */
    top: 50%; /* 수직 중앙 정렬 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 조정 */
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 300px; /* 너비 설정 */
    height: 300px; /* 높이 설정 */
    max-width: 600px; /* 최대 너비 (2배) */
    max-height: 600px; /* 최대 높이 (2배) */
    z-index: 2; /* 다른 내용 위에 표시 */
}

.pw-modal-header {
    padding: 10px 16px;
    background-color: #f1f1f1; /* 밝은 회색 배경 */
    color: black;
    display: flex;
    justify-content: space-between; /* 제목과 닫기 버튼 사이의 공간 */
    align-items: center; /* 수직 중앙 정렬 */
    cursor: move; /* 이동 가능한 아이템 표시 */
}

.pw-modal-body {
    padding: 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex; /* Flexbox 레이아웃 사용 */
    flex-direction: column; /* 항목을 수직 방향으로 배치 */
    justify-content: center; /* 수직 방향으로 중앙 정렬 */
    align-items: center; /* 수평 방향으로 중앙 정렬 */
}

#passwordForm {
    width: 100%; /* 폼 너비를 100%로 설정 */
    margin-top: 2rem; /* 폼 위의 간격 조정 */
    margin-bottom: 0.5rem; /* 폼 아래의 간격 조정 */
}

#pwModalMessage2 {
    width: 100%; /* p 태그 너비를 100%로 설정 */
    text-align: center; /* p 태그 텍스트 중앙 정렬 */
    color: red; /* p 태그 색상 설정 */
    font-size: 14px; /* p 태그 글꼴 크기 설정 */
}

.pw-modal-footer {
    padding: 10px 16px;
    display: flex; /* Flex 레이아웃 사용 */
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
}

.pw-close-button {
    color: #aaa;
    font-size: 24px; /* 크기 조정 */
}

.pw-close-button:hover,
.pw-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    margin-right: 10px; /* 오른쪽 마진 설정 */
}

/* 마지막 버튼에는 마진을 적용하지 않음 */
.modal-button:last-child {
    margin-right: 0;
}