@charset "UTF-8";

#lastLoginDate {
  font-style: italic;
}

.navbar-custom-menu .navbar-nav {
  font-weight: bold;
}

.box-header h2.box-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.box-footer .btn-dark {
  background-color: #343a40;
  /* 원하는 색상 코드로 변경 */
  color: #ffffff;
}

.box-footer .btn-secondary {
  background-color: #666666;
  /* 원하는 색상 코드로 변경 */
  color: #ffffff;
}

.wrapper .content-wrapper {
  background-color: whitesmoke;
}