<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.devday.mapper.ReviewMapper">

<insert id="review_insert" parameterType="com.devday.domain.ReviewVO">
	INSERT INTO 
		review_tbl(rv_number, us_id, pd_number, rv_content, rv_score)
	VALUES 
		(sequence_rv_number.NEXTVAL, #{us_id}, #{pd_number}, #{rv_content}, #{rv_score})
</insert>

</mapper>