<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devday.mapper.UserMapper">

<!-- 회원가입 관련 쿼리 -->
<!-- us_point, us_join_date, us_update_date, us_last_login, us_status, ad_check는 DEFAULT -->
<!-- us_login_token, tk_expiry_date는 회원가입이 아닌 로그인 시 처리 -->
<insert id="join" parameterType="com.devday.domain.UserVO">
	INSERT INTO 
		user_table (
			us_id, 
			us_pw, 
			us_name, 
			us_phone, 
			us_email, 
			us_postcode, 
			us_addr_basic, 
			us_addr_detail
		)
		VALUES (
			#{us_id}, 
			#{us_pw}, 
			#{us_name}, 
			#{us_phone}, 
			#{us_email}, 
			#{us_postcode}, 
			#{us_addr_basic}, 
			#{us_addr_detail}
		)
</insert>

<!-- 아이디 중복 검사 쿼리 -->
<!-- resultType="int" 또는 "Integer"일 경우, 'SELECT COUNT(*) FROM ~'의 형태로 작성 -->
<select id="id_check" parameterType="String" resultType="String">
	SELECT
		us_id
	FROM
		user_table
	WHERE
		us_id = #{us_id}
</select>

<!-- 일반적인 로그인 쿼리 -->
<!-- 회원/비회원 및 사용자/관리자를 구분하기 위해 us_status, ad_check 컬럼 추가 -->
<select id="login" parameterType="String" resultType="com.devday.domain.UserVO">
	SELECT 
		us_id, 
		us_pw, 
		us_name, 
		us_phone, 
		us_email, 
		us_postcode, 
		us_addr_basic, 
		us_addr_detail, 
		us_point, 
		us_join_date, 
		us_update_date,
		us_last_login,
		us_status,
		ad_check,
		us_login_token,
		tk_expiry_date
	FROM 
		user_table 
	WHERE
		us_id = #{us_id}
</select>

<!-- 최근 접속 일자 쿼리 -->
<!-- 로그인 메서드 내에서 사용하며, sysdate로 갱신이 필요함 -->
<update id="lastLoginTime" parameterType="String">
	UPDATE
		user_table
	SET
		us_last_login = SYSDATE
	WHERE
		us_id = #{us_id}
</update>

<!-- 로그인 유지 쿼리 -->
<update id="updateUserToken" parameterType="com.devday.domain.UserVO">
	UPDATE
		user_table
	SET
		us_login_token = #{us_login_token}, tk_expiry_date = #{tk_expiry_date} 
	WHERE
		us_id = #{us_id}	
</update>

<!-- 자동 로그인 처리 쿼리 -->
<select id="getUserByToken" resultType="com.devday.domain.UserVO" parameterType="String">
	SELECT
		us_id, 
		us_pw, 
		us_name, 
		us_phone, 
		us_email, 
		us_postcode, 
		us_addr_basic, 
		us_addr_detail, 
		us_point, 
		us_join_date, 
		us_update_date,
		us_last_login,
		us_status,
		ad_check,
		us_login_token,
		tk_expiry_date
	FROM
		user_table
	WHERE
		us_login_token = #{us_login_token}
</select> 

<!-- 아이디 찾기: 이름과 이메일을 이용한 찾기 -->
<select id="findId" parameterType="com.devday.dto.FindInfoDTO" resultType="com.devday.domain.UserVO">
	SELECT
		us_id, us_join_date
	FROM
		user_table
	WHERE
		us_name = #{us_name} AND us_email = #{us_email}
</select>

<!-- 비밀번호 찾기: 아이디 및 이름과 이메일을 이용한 찾기 -->
<select id="findPw" parameterType="com.devday.dto.FindInfoDTO" resultType="int">
	 SELECT
	 	COUNT(*)
	 FROM
	 	user_table
	 WHERE
	 	us_id = #{us_id} AND us_name = #{us_name} AND us_email = #{us_email}
</select>

<!-- 비밀번호 업데이트: 임시 비밀번호 생성 및 비밀번호 재발급 -->
<update id="resetPw" parameterType="com.devday.dto.FindInfoDTO">
	UPDATE 
		user_table
	SET
		us_pw = #{us_pw}
	WHERE
		us_id = #{us_id}
</update>

<select id="isPwMatch" resultType="String" parameterType="String">
	SELECT 
		us_pw 
	FROM 
		user_table
	WHERE 
		us_id = #{us_id}
</select>

<!-- 회원수정: sysdate로 갱신 필요(us_updatedate DATE DEFAULT sysdate NOT NULL) -->
<update id="modify" parameterType="com.devday.domain.UserVO">
	UPDATE
		user_table
	SET
		us_phone = #{us_phone},
		us_email = #{us_email}, 
		us_postcode = #{us_postcode}, 
		us_addr_basic = #{us_addr_basic}, 
		us_addr_detail = #{us_addr_detail},
		us_update_date = sysdate
	WHERE 
		us_id = #{us_id}
</update>

<!-- 회원탈퇴 -->
<delete id="delete" parameterType="String">
	DELETE FROM
		user_table
	WHERE 
		us_id = #{us_id}
</delete>

</mapper>  