<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devday.mapper.UserProductMapper">

<!-- AdProductMapper.xml  -->
<!-- 검색 조건이 추가된다면 첫 번째 where 절에 추가. 검색 기능 생략 -->
<select id="prd_list" resultType="com.devday.domain.ProductVO" parameterType="map">
<![CDATA[
	SELECT
		PRD_NUM, CG_CODE, PRD_NAME, PRD_PRICE, PRD_DISCOUNT, PRD_PUBLISHER, PRD_CONTENT, PRD_UP_FOLDER, PRD_IMG, PRD_AMOUNT, PRD_BUY, PRD_DATE, PRD_UPDATEDATE
	FROM 
	    (
	    SELECT /*+ INDEX_DESC(PRODUCT_TBL PK_PRD_NUM) */
    		ROWNUM RN, PRD_NUM, CG_CODE, PRD_NAME, PRD_PRICE, PRD_DISCOUNT, PRD_PUBLISHER, PRD_CONTENT, PRD_UP_FOLDER, PRD_IMG, PRD_AMOUNT, PRD_BUY, PRD_DATE, PRD_UPDATEDATE
	    FROM
    		PRODUCT_TBL
	    WHERE
	    	cg_code = #{cg_code}
	    	AND
	    	ROWNUM <= #{cri.pageNum} * #{cri.amount} 
	    )
	WHERE
		RN > (#{cri.pageNum} -1) * #{cri.amount}]]>
</select>

<!-- 검색 조건이 추가된다면 첫 번째 where 절에 추가 -->
<select id="getTotalCount" resultType="int">
	SELECT
		COUNT(*)
	FROM
		PRODUCT_TBL
	WHERE 
		cg_code = #{cg_code}
</select>

</mapper>