<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devday.mapper.UsProductMapper">

<sql id="criteria">
	<trim prefix="(" suffix=") AND" prefixOverrides="OR">	 <!--  prefixOverrides="AND"는 오류 발생 -->
    		<foreach collection="typeArr" item="type">
			<trim prefix="OR">
			    <choose>
			        <when test="type == 'N'.toString()">
			            pd_name LIKE '%' || #{cri.keyword} || '%' 
			        </when>
			        <when test="type == 'C'.toString()">
			            pd_number LIKE '%' || #{cri.keyword} || '%' 
			        </when>
			        <when test="type == 'P'.toString()">
			            pd_company LIKE '%' || #{cri.keyword} || '%' 
			        </when>
			    </choose>
			</trim>
    		</foreach>
	</trim>
</sql>

<!-- AdProductMapper.xml  -->
<!-- 검색 조건이 추가된다면 첫 번째 where 절에 추가. 검색 기능 생략 -->
<select id="pd_list" resultType="com.devday.domain.ProductVO" parameterType="map">
	<![CDATA[
	SELECT
		pd_number, cg_code, pd_name, pd_price, pd_discount, pd_company, pd_content, pd_image_folder, pd_image, pd_amount, pd_buy_status, pd_register_date, pd_update_date
	FROM 
	    (
	    SELECT /*+ INDEX_DESC(product_table pk_pd_number) */
    			ROWNUM rn, pd_number, cg_code, pd_name, pd_price, pd_discount, pd_company, pd_content, pd_image_folder, pd_image, pd_amount, pd_buy_status, pd_register_date, pd_update_date
	    FROM
    		product_table
	    WHERE
		    ]]>
		    <include refid="criteria"></include> 
		    <![CDATA[
	    	cg_code = #{cg_code} AND ROWNUM <= #{cri.pageNum} * #{cri.amount} 
	    )
	WHERE
		rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
</select>

<!-- 검색 조건이 추가된다면 첫 번째 where 절에 추가 -->
<select id="getTotalCount" resultType="int">
	SELECT
		COUNT(*)
	FROM
		product_table
	WHERE
		<include refid="criteria"></include> 
		cg_code = #{cg_code}
</select>

<!-- 파라미터가 하나이기 때문에 cri 명시 불필요 -->
<select id="pd_list_all" resultType="com.devday.domain.ProductVO" parameterType="com.devday.dto.Criteria">
	<![CDATA[
	SELECT
		pd_number, cg_code, pd_name, pd_price, pd_discount, pd_company, pd_content, pd_image_folder, pd_image, pd_amount, pd_buy_status, pd_register_date, pd_update_date
	FROM 
	    (
	    SELECT /*+ INDEX_DESC(product_table pk_pd_number) */
    			ROWNUM rn, pd_number, cg_code, pd_name, pd_price, pd_discount, pd_company, pd_content, pd_image_folder, pd_image, pd_amount, pd_buy_status, pd_register_date, pd_update_date
	    FROM
    			product_table
	    WHERE
	    		ROWNUM <= #{pageNum} * #{amount} 
	    )
	WHERE
		rn > (#{pageNum} -1) * #{amount}
	]]>
</select>

<select id="getTotalCountAll" resultType="int">
	SELECT
		COUNT(*)
	FROM
		product_table
</select>

<select id="pd_detail" parameterType="Integer" resultType="com.devday.domain.ProductVO">
	SELECT
		pd_number, cg_code, pd_name, pd_price, pd_discount, pd_company, pd_content, pd_image_folder, pd_image, pd_amount, pd_buy_status, pd_register_date, pd_update_date
	FROM
		product_table
	WHERE
		pd_number = #{pd_number}
</select>

</mapper>