@charset "UTF-8";

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.login-info, .member-info {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.login-info {
	margin-top: 20px;
}

.login-info h3, .member-info h3 {
	text-align: left;
	color: #333;
}

/* 아이디 사용 가능 */
.yes_us_id{
	display: none;
	color: blue;
}
/* 아이디 사용 불가 */
.no_us_id{
	display: none;
	color: red;
}